body {
	background-color: #F0E68C;
	margin: 0;
	padding: 0;
	text-align: center;
}
#page {
	width: 778px;
	margin: 0 auto;
	text-align: left;
}
#title {
	/*background-image: url(../img/header.gif);
	background-repeat: no-repeat;
	width: 778px;
	height: 241px;*/
	/*border: medium ridge Aqua;*/
}
#main {
	background-color: #939393;
	width: 778px;
	text-align:justify;
	padding: 10px;
}
#raspcontrol #rpi-monitor {
	background: url('../img/raspcontrol.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#zerobin {
	background: url('../img/0bin.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#owncloud {
	background: url('../img/owncloud.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#transmission {
	background: url('../img/transmission.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#SABnzbd {
	background: url('../img/sabnzbdplus.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#upload {
	background: url('../img/upload.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#configuration {
	background: url('../img/configuration.png') no-repeat;
	padding-left: 18px;
	background-size: 16px;
}
#footer {
	background: #FFD700;
	text-align: center;
	width: 778px;
	height: 31px;
	/*margin-top: 20px;	*/
}
a img {
	border: none;
}

p.code {
	font-family: 'Courier New';
	background-color: white;
	color: black;
	padding: 10px;
}

span.fichier {
	font-family: 'Courier New';
	font-size: 10pt;
}

.error {
	color: Red;
}